.filter__field {
  box-sizing: border-box;

  padding: 0;
  margin: 0;

  border-top: 1px solid $brown;
  border-left: 1px solid $brown;
  border-right: 1px solid $brown;
  border-bottom: none;

  &:last-child {
    border-bottom: 1px solid $brown;
  }

  @media (max-width: $tablet-width) {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid $brown;
  }
}

.filter__toggle {
  padding: 26px 0 24px 25px;
  text-align: left;

  @media (max-width: $tablet-width) {
    padding: 32px 0 38px 40px;
    font-size: 18px;
    line-height: 23px;
  }

  @media (max-width: $mobile-width) {
    padding: 23px 0 27px 25px;
  }
}

.filter__toggle::after {
  right: 26px;
  top: calc(50% - 11px);
  width: 9px;
  height: 9px;

  @media (max-width: $tablet-width) {
    width: 14px;
    height: 14px;

    right: 44px;
    top: calc(50% - 14px);
  }

  @media (max-width: $mobile-width) {
    right: 27px;
  }
}

.filter__content {
  padding-left: 35px;

  @media (max-width: $tablet-width) {
    padding-left: 50px;
  }

  @media (max-width: $mobile-width) {
    padding-left: 35px;
  }
}

.filter__btn-wrapper {
  display: flex;
  flex-direction: column;

  margin-top: 35px;

  @media (max-width: $tablet-width) {
    margin-top: 40px;
  }

  @media (max-width: $mobile-width) {
    margin-top: 30px;
  }
}

.filter__button {
  width: 250px;
  height: 68px;

  @media (max-width: $tablet-width) {
    width: 362px;
    margin: 0 auto;
  }

  @media (max-width: $mobile-width) {
    width: 230px;
  }
}

.filter__button--reset {
  margin-top: 25px;

  @media (max-width: $tablet-width) {
    margin-bottom: 40px;
  }

  @media (max-width: $mobile-width) {
    margin-top: 20px;
  }
}

.filter__link {
  display: none;

  @media (max-width: $tablet-width) {
    display: block;
    width: 100%;
    max-width: 678px;

    margin: 0 auto;

    padding: 24px 0;
  }

  @media (max-width: $mobile-width) {
    width: 290px;
  }
}

.filter__popup {
  @media (max-width: $tablet-width) {
    display: none;
  }
}

.filter--nojs {
  position: static;
  display: block;

  width: 500px;
  margin: 0 auto;

  @media (max-width: $mobile-width) {
    width: 280px;
  }
}

.filter--nojs .filter__button {
  margin: 0 auto 20px;
}

.filter--nojs .filter__toggle::after {
  display: none;
}

.filter--opened .filter__popup {
  @media (max-width: $tablet-width) {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $white;

    z-index: 90;

    min-height: 100vh;

    overflow-y: scroll;
  }
}

.filter--opened .filter__link {
  display: none;
}

.filter--opened .popup__wrapper {
  @media (max-width: $tablet-width) {
    display: block;
    position: absolute;
    top: 29px;
    left: -19px;
    z-index: 99;

    box-shadow: 0 5px 32px rgba(219, 213, 208, 0.24);
    width: 442px;
  }

  @media (max-width: $mobile-width) {
    width: 280px;
    top: 77px;
    left: calc(50% - 140px);
  }
}

.filter__popup form {
  @media (max-width: $tablet-width) {
    width: 100%;
  }
}
