.link {
  color: $text-color;
  text-decoration: none;
  background-image: linear-gradient(to left, $brown, $brown 100%);
  background-position: 0 95%;
  background-size: 10px 1px;
  background-repeat: repeat-x;

  &:hover,
  &:focus,
  &:active {
    color: $brown;
  }
}
