.product {
  @include center-block;

  display: flex;
  flex-direction: row;

  align-items: center;
  margin-top: 80px;
  margin-bottom: 130px;

  @media (max-width: $tablet-width) {
    justify-content: center;
    margin-bottom: 80px;
    margin-top: 60px;
  }

  @media (max-width: $mobile-width) {
    display: block;

    margin-bottom: 70px;
    margin-top: 0;
  }
}


.product__descriptions {
  width: 100%;
  margin-left: 100px;

  @media (max-width: 1100px) {
    margin-left: 50px;
  }

  @media (max-width: 1050px) {
    margin-left: 30px;
  }

  @media (max-width: $tablet-width) {
    margin-left: 40px;
    max-width: 319px;
  }

  @media (max-width: $mobile-width) {
    margin-left: 0;
    padding-top: 50px;
    max-width: 100%;
  }
}

.product__descriptions h1 {
  font-family: $CormorantGaramond;
  font-size: 34px;
  line-height: 44px;
  font-weight: 700;

  margin: 0;
  padding-bottom: 12px;
}

.product__descriptions h1+p {
  font-size: 26px;
  line-height: 34px;
  font-weight: 400;

  margin: 0;
  padding-bottom: 23px;
}

.product__info {
  padding-top: 15px;

  max-width: 370px;

  @media (max-width: $mobile-width) {
    max-width: 100%;
  }
}

.product__content {
  display: none;
}

.product__content--is-active {
  display: block;
}

.product__content p {
  margin: 0;
}

.product__button {
  display: block;

  max-width: 370px;
  margin-top: 50px;

  padding: 28px 0;

  @media (max-width: $mobile-width) {
    width: 290px;
    margin: 40px auto 0;
  }
}

.product__terms {
  @include list-reset;

  display: flex;
  justify-content: space-between;
  flex-direction: row;

  width: 370px;
  padding-top: 17px;

  font-size: 14px;
  line-height: 18px;
  color: #9B9997;

  @media (max-width: $tablet-width) {
    font-size: 12px;
    line-height: 16px;

    width: 319px;
  }

  @media (max-width: $mobile-width) {
    width: 290px;

    text-align: center;

    margin: 0 auto;
  }
}

.product__terms li {
  padding-right: 12px;
  border-right: 1px solid #f6f5f4;

  &:last-child {
    padding-right: 0;
    border-right: 0;
  }
}
