.questions {
  @include center-block;

  max-width: 1000px;

  margin-bottom: 100px;

  @media (max-width: $tablet-width) {
    margin-bottom: 65px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 50px;
  }
}

.questions h2 {
  text-align: center;
  font-family: $CormorantGaramond;
  font-weight: 700;
  font-size: 34px;
  line-height: 44px;
  letter-spacing: 0.03em;

  margin: 0;

  padding-bottom: 48px;

  @media (max-width: $mobile-width) {
    padding-bottom: 28px;
  }
}

.questions__list {
  @include list-reset;
}

.questions__item {
  border-top: 1px solid $brown;
  border-left: 1px solid $brown;
  border-right: 1px solid $brown;

  &:last-child {
    border-bottom: 1px solid $brown;
  }
}

.questions__item:last-child .questions__title {
  @media (max-width: $mobile-width) {
    padding-right: 60px;
  }
}

.questions__item:nth-child(3n) .questions__title {
  @media (max-width: $mobile-width) {
    padding-right: 90px;
  }
}

.questions__content p {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;

  max-width: 527px;

  margin: 0;

  padding-left: 50px;

  @media (max-width: $tablet-width) {
    line-height: 21px;

    max-width: 100%;

    padding-right: 50px;
  }

  @media (max-width: $mobile-width) {
    padding-left: 25px;
    padding-right: 55px;

    font-size: 14px;
    line-height: 20px;
  }
}

.questions__title {
  padding: 43px 0 46px 44px;

  text-align: left;
  font-size: 18px;
  line-height: 23px;


  @media (max-width: $tablet-width) {
    padding-left: 50px;
  }

  @media (max-width: $mobile-width) {
    padding: 16px 80px 23px 25px;

    font-size: 16px;
    line-height: 22px;
  }
}

.questions__title::after {
  right: 50px;
  top: calc(50% - 11px);

  width: 10px;
  height: 10px;


  @media (max-width: $tablet-width) {
    width: 15px;
    height: 15px;

    right: 52px;
    top: calc(50% - 15px);
  }

  @media (max-width: $mobile-width) {
    right: 27px;
    top: calc(50% - 26px);

    width: 12px;
    height: 12px;
  }
}
