.tabs-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tabs-nav__item {
  padding: 5px 2px;
  margin-right: 31px;

  cursor: pointer;

  color: $gray;

  &:last-child {
    margin-right: 0;
  }

  @media (max-width: $mobile-width) {
    margin-right: 36px;
    padding-left: 0;
  }

  &:hover {
    color: $brown;
  }
}

.tabs-nav__item--is-active {
  color: $text-color;
}
