.tabs__content {
  margin-top: -2px;

  height: 0;
  overflow: hidden;

  transition: height 0.5s ease-in-out;
}

.tabs--nojs .tabs__content {
  height: auto;
  padding-bottom: 20px;
}

.tabs--nojs .tabs__btn::after,
.tabs--nojs .tabs__btn::after {
  display: none;
}

.tabs__content--active {
  height: auto;
}

.tabs__content--active.questions__content {
  padding-bottom: 41px;

  @media (max-width: $tablet-width) {
    padding-top: 19px;
    padding-bottom: 44px;
  }
  @media (max-width: $mobile-width) {
    padding-top: 5px;
    padding-bottom: 21px;
  }
}

.tabs__content--active.filter__content {
  padding-top: 3px;

  @media (max-width: $mobile-width) {
    padding-top: 4px;
  }
}

.tabs__btn {
  position: relative;
  width: 100%;

  cursor: pointer;

  background-color: transparent;
  border: none;

  &:focus {
    outline: none;
    color: $brown;
  }

  &:active,
  &:hover {
    color: $brown;
  }
}

.tabs__btn:after {
  content: '';
  position: absolute;

  border: 1px solid;
  border-color: transparent $brown $brown transparent;

  transform: rotate(45deg);
  transition: border-color 0.5s ease-in-out, bottom 0.5s ease-in-out;
}

.tabs__btn--active:after {
  border-color: $brown transparent transparent $brown;
}

.tabs__btn--active.questions__title {
  padding-bottom: 10px;
}

.tabs__btn--active.filter__toggle {
  padding-bottom: 21px;
}

.tabs__btn--active.filter__toggle::after {
  top: calc(50% - 2px);

  @media (max-width: $tablet-width) {
    top: calc(50% + 3px);
  }

  @media (max-width: $mobile-width) {
    top: calc(50% - 1px);
  }
}

.tabs__btn--active.questions__title::after {
  top: 70%;

  @media (max-width: $mobile-width) {
    top: 38%;
  }
}