@mixin list-reset {
  margin: 0;
  padding: 0;

  list-style: none;
}

@mixin center-block {
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 15px;

  @media (max-width: $tablet-width) {
    padding-left: 45px;
    padding-right: 45px;
  }

  @media (max-width: $mobile-width) {
    padding-left: 15px;
    padding-right: 15px;
  }
}
