body {
  font-family: $Poppins;
  font-size: 16px;
  color: $text-color;
  font-weight: 500;
  line-height: 21px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

input {
  border-radius: 0;
}

input::-webkit-appearance,
textarea::-webkit-appearance,
select::-webkit-appearance {
  appearance: none;
}
