$tablet-width: 1023px;
$mobile-width: 767px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$Poppins: "Poppins", "Arial", sans-serif;
$CormorantGaramond: "Cormorant Garamond", "Arial", sans-serif;

$white: #ffffff;
$black: #000000;
$text-color: #1d1613;
$brown: #a87b62;
$beige: #f0eae4;
$gray: #9b9997;
$light-gray: #f6f5f4;
